window {
    margin: 0px;
    border: none;
    background-color: #27272A;
    border: 2px solid #d5b758;
    border-radius: 6px;
    }
    
    #input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    font-weight: bold;
    outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
    color: #f8f8f2;
    background-color: #27272A;
    }
    
    #inner-box {
    margin: 5px;
    border: none;
    background-color: #1A1A1A;
    }
    
    #outer-box {
    margin: 5px;
    border: none;
    background-color: #1A1A1A;
    }
    
    #scroll {
    margin: 0px;
    border: none;
    }
    
    #text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    } 
    
    #entry.activatable #text {
    color: #282a36;
    }
    
    #entry > * {
    color: #f8f8f2;
    }
    
    #entry:selected {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border-radius: 15px;
    background-color: #27272A;
    }
    
    #entry:selected #text {
    font-weight: bold;
    }    